* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

.heading {
  font-size: 2em;
  colour: #24292f;
  font-weight: bold;
  margin-bottom: 10px;
}

header {
  background-color: #0073e6;
  color: rgb(19, 18, 18);
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

main {
  margin-top: 20px;
}

section {
  background: white;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

h1, h2 {
  color: #0073e6;
  margin-bottom: 10px;
}

h3 {
  color: #333;
  margin-bottom: 6px;
}

ul, ol {
  margin-top: 10px;
  padding-left: 20px;
}

code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 85%;
  background-color: #f6f8fa;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  padding: 0.2em 0.4em;
  color: #24292f;
  white-space: nowrap;
}



.card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 15px;
  border-left: 6px solid #0073e6;
  background-color: #fefefe;
  border-radius: 6px;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9em;
  color: #666;
}
